@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #f7f7f7;
}


:root {
  --background: #f7f7f7;
  --background-with-opacity: #f7f7f7e0;
  --hero-shadow: 0px 0px 0px 5px rgba(255,255,255,0.5), 0px 0px 3px 5px;
  --shadow-green: rgba(16, 185, 129, 0.12);
  --shadow-pink:  rgb(236, 72, 153, 0.12);
  --shadow-blue:  rgb(59, 130, 246, 0.12);
  --shadow-red:  rgb(239, 68, 68, 0.12);
}

@layer components{
  .glass-button{
    @apply px-4 py-2 shadow-[0_1px_5px_-1px_rgba(0,0,0,0.15)] border-[1px] border-white/50 rounded-full text-sm backdrop-blur-[1px]
  }
}

@layer utilities{
  .animation-delay-20{
    animation-delay: 20s;
  }

  .animation-delay-7{
    animation-delay: 7s;
  }
}